* {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-color: rgb(62, 200, 209);
  background-image: url(../images/bg-pattern-bottom.svg),
    url(../images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-size: 120vh;
  background-position: right 0vw bottom -78vh, left 0vw top -56vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}
h2 {
  font-size: 2em;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  border-radius: 33px;
  box-shadow:
  0 9.2px 5.8px rgba(0, 0, 0, 0.015),
  0 13.4px 13.1px rgba(0, 0, 0, 0.023),
  0 13.8px 22.6px rgba(0, 0, 0, 0.029),
  0 13px 36.1px rgba(0, 0, 0, 0.037),
  0 17.1px 58.8px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.09);

}

.header {
  background-image: url('/images/bg-pattern-card.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 190px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

.headshot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 33%;
}

.headshot img {
  border-radius: 50%;
  border: 8px solid #fff;
}

.title {
  display: grid;
  grid-template-columns: minmax(10px, 40px) [s] 1fr [e] minmax(10px, 40px);
  grid-template-rows: [top-s] 80px [top-e] 1fr [bottom-s] 30px [bottom-e];
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.name-age {
  grid-column: s/e;
  grid-row: top-e/bottom-s;
  padding: 10px;
  text-align: center;
}

.name-age span {
  color: hsl(0, 0%, 59%);
}

.city {
  grid-column: s/e;
  grid-row: bottom-s/bottom-e;
  text-align: center;
  color: hsl(0, 0%, 59%);
}

.profile-info {
  display: grid;
  grid-template-columns: minmax(10px, 15px) [line-start] 1fr [line-end] minmax(
      10px,
      15px
    );
  grid-template-rows: [top-space] 22px [top-end] 1fr [bottom-start] 22px [bottom-end];

  padding: 20px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  background-color: white;
}

.profile-list {
  font-size: 18px;
  grid-column: line-start/line-end;
  grid-row: top-end/bottom-start;
  text-align: center;
}

.profile-list .list-stats {
  display: inline-block;
}
